/* This page is designed and owned by Sparsh Nigam */
/* All rights reserved to Sparsh Nigam */
/* for business contact sparshnigam2@gmail.com */
@media only screen and (max-width:865px){
    /* Nav Bar */
    .ham{
        display: block;
        top: 2.6rem;
        z-index: 1000;
    }
    nav{
        width: 100%;
        height: 1rem;
        flex-direction: column;
        align-items: center;
        height: 0rem;
        padding: 2.9rem 0;
        right: 0px;
        position: fixed;
    }
    .logo{
        align-self: flex-start;
        top: -1.5rem;
        position: relative;
        
    }
    ul a::after {
        content: attr(data-after);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: rgba(240, 248, 255, 0.021);
        font-size: 13rem;
        letter-spacing: 50px;
        z-index: -1;
        transition: .3s ease letter-spacing;
    }
    ul li:hover a::after {
        transform: translate(-50%, -50%) ;
        letter-spacing: initial;
    }
    ul{
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        transition: 1s ease left;
        animation: animie 0.5s ease 1 forwards;
    }
    @keyframes animie {
        from{
            width: 0%;
        }
        to{
            width: 50%;
            
        }
    }
    li a{
        font-size: 2rem;
        z-index: 10;

    }
    li{
        margin: 0.8rem 0;
        width: 100%;
        margin: 0.8rem auto;
        height: 3%;

    }
    @keyframes animie1 {
        0%{
            width: 0%;
        }
        100%{
            width: 50%;
            
        }
    }
    #toggle:checked ~ ul{
        display: flex;
        height: 100vh;
        width: 50vw;
        background: #242323;
    }

       /* Home Section */

    #home .slider .slide .caption{
        bottom: 0rem;
        width: 100%;
        top: auto;
        left: 0px;
    }


    /* Recommended Section */

    #recommended .recommended-container .card_box{
        width: 250px;
        height: 300px;
    }
    .card-content{
        height: 60px;
    }
    .card-content p{
        font-size: 15px;
    }
    .card-content button{
        padding: 5px;
        margin: .9rem;
    }
    .card-content h1{
        margin: .5rem;
    }

    /* Food Section */

    #food{
        padding: 5rem 0 1px 0;
    }
    .box{
        width: 10rem;
        height: 10rem;
    }
    .img{
        width: 120px;
        height: 120px;
    }
    .box .caption{
        position: relative;
        bottom: -.8rem;
    }

    /* About Section */

    .banner {
        position: relative;
        min-height: 100vh;
        padding: 0 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .banner .textBox{
        position: relative;
        max-width: 100vw;
        top: 92.8px;
        bottom: 0;

    }
    .banner .textBox p {
        font-size: 1.5em;

    }
    .banner .videobox{
        position: relative;
        margin-left: 0px;
        height: 15rem;
        bottom: 0rem;  
    }
    .banner .textBox a{
        padding: .7rem;
    }

    /* Partners Section */

    .content{
        padding: 10rem 8rem;
    }
    .card-front{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .card-front img{
        width: 7rem;
        height: 7rem;
        left: auto;

    }
    .card-front h1{
        font-size: 2rem;
        right: auto;
    }

    /* Contact Section */
    
    #contact-box form{
        width:80%;
    }
    form button{
        padding: .5rem 1.5rem;
    }
    
}

